[Unit]
Description=Gunicorn for my Flask app
After=network.target

[Service]
User=michaelmau
Group=michaelmau
WorkingDirectory=/home/michaelmau/gunicorn-project
Environment="PATH=/home/michaelmau/mike/bin:/usr/bin:/bin"
ExecStart=/usr/bin/bash -c '/home/michaelmau/mike/bin/gunicorn app:app --bind 0.0.0.0:8000 --workers 3'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
